:root {
    --white: #ffff;
    --gray-100: #ele1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-500: #323238;
    --gray-600: #29292e;
    --gray-600: #202024;
    --gray-700: #121214;

    --green-500: #00875f;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter;
}



body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-weight: 1rem;
}
